body{
  color: orange;
  background-color: navy;
  height: 100%;

  .header__logo{
    float: left;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .header__title{
    float: left;
    font-size: 4rem;
    font-family: impact;
    margin: 15px;
  }
  .header__list{
    float:right;
  }
  /* スマホ用CSS */
  @media screen and ( max-width:767px ){
    .header__list{
      display: none;
      background-image: url("/assets/menu-tab");
      background-repeat: no-repeat;
    }
  }
  ul{
    list-style: none;
  }
  li{
    float: left;
    margin: 20px 0 0 0;
    padding-right: 30px;
    font-size: 20px;
    color: orange;
  }
  li a{
    color: inherit;
  }

.square_btn:hover{
  font-size: 30px;
  text-decoration: none;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}


.contents{
    height: 600px;
    background:linear-gradient(rgba(#fff, 0.5), rgba(#fff, 0.6)),url("/assets/sign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  &__title{
    font-size: 100px;
    font-family: impact;
  }
  &__subtitle{
    font-size: 30px;
  }
  .title-wrapper{
    position: absolute;
    top:200px;
    right: 50px;
    width: 390px;
    transform:rotate(-10deg);
  }
}
  /* スマホ用CSS */
    @media screen and (max-width: 767px){
      .contents{
        height: 300px;
        border:solid 2px black;
        background:linear-gradient(rgba(#fff, 0.5), rgba(#fff, 0.6)),url("/assets/sign.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        &__title{
          font-size: 70px;
        }
        &__subtitle{
          font-size: 20px;
        }
        .title-wrapper{
          top: 90px;
          right: -65px;
          transform:none;
        }
      }
    }

.news{
  float: left;
  padding: 30px;
  font-size: 20px;
  width: 50%;
  box-sizing:border-box;
  &__title{
    text-align: center;
    text-decoration:underline;
  }
  &__list{
    margin:0 auto;
  }
  td{
    text-align: center;
    letter-spacing:1px;
  }
}
// スマホ用css
@media screen and (max-width: 767px){
  .news{
    float: none;
    width: 100%;
  }
}

.introduce{
  padding: 30px;
  box-sizing:border-box;
  font-size: 20px;
  float: left;
  width: 50%;
  &__title{
    text-align: center;
    text-decoration:underline;
  }
}
// スマホ用css
@media screen and (max-width: 767px){
  .introduce{
    float: none;
    width: 100%;
  }
}


.hidden-on-sp{
  display: none;
  @media screen and (min-width: 767px){
      display: block;
    }
  }
.show-on-sp{
  display: block;
  @media screen and (min-width: 767px){
      display: none;
    }
  }
}

