body{
  color: orange;
  background-color: navy;
  height: 100%;
  text-align: center;

  .header__logo{
    float: left;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .header__title{
    float: left;
    font-size: 4rem;
    font-family: impact;
    margin: 15px;
  }
  .header__list{
    float:right;
  }
  ul{
    list-style: none;
  }
  li{
    float: left;
    margin: 20px 0 0 0;
    padding-right: 30px;
    font-size: 20px;
    color: orange;
  }
  li a{
    color: inherit;
  }

.square_btn:hover{
  font-size: 30px;
  text-decoration: none;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.contents{
    height: 600px;
    background-image: url("/assets/sign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  &__title{
    top: 150px;
    font-size: 100px;
    font-family: impact;
  }
  &__subtitle{
    top: 170px;
    font-size: 30px;
  }
  .title-wrapper{
    position: absolute;
    top:200px;
    right: 50px;
    width: 390px;
    transform:rotate(-10deg);
  }
}

.news{
  float: left;
  margin: 30px;
  font-size: 20px;
  &__title{
    text-align: center;
    text-decoration:underline;
  }
  td{
    text-align: center;
    letter-spacing:2px;
  }
}

.introduce{
  margin:30px;
  font-size: 20px;
  float: left;
  &__title{
    text-align: center;
    text-decoration:underline;
  }
}
}

