<header class=" header clearfix" >
  <div class="header-sentence">
    <div class="header__logo">
      <img src="assets/ball.jpg">
    </div>
    <div class="header__title">
      Inpulse
    </div>
  </div>
    <div class="humberger-menu-buttom">
      <img src="assets/menu-aicon.png">
    </div>
  <nav>
    <ul class="header__list">
      <li><a href="#" class="square_btn">HOME</a></li>
      <li><a href="#" class="square_btn">NEWS</a></li>
      <li><a href="#" class="square_btn">GAME</a></li>
      <li><a href="#" class="square_btn">MEMBER</a></li>
    </ul>
  </nav>

  <nav class="global-navigation">
    <ul class="global-navigation-list">
      <div class="global-navigation-close-buttom">
        <img src="assets/menu-close.png">
      </div>
      <li><a href="#" class="square_btn">HOME</a></li>
      <li><a href="#" class="square_btn">NEWS</a></li>
      <li><a href="#" class="square_btn">GAME</a></li>
      <li><a href="#" class="square_btn">MEMBER</a></li>
    </ul>
  </nav>
</header>

  <section class="contents">
    <div class="title-wrapper">
      <div class="contents__title">
        Inpulse
      </div>
      <div class="contents__subtitle">
        ~The Official Web Site~
      </div>
    </div>
  </section>

<div class= "clearfix">
  <article class="news">
    <div class="news__title">
      News
    </div>
      <table class="news__list">
        <thead>
          <tr>
            <th>日にち</th>
            <th>ニュース</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2015/02/23</td>
            <td>コメントコメントコメント</td>
          </tr>
          <tr>
            <td>2015/01/23</td>
            <td>コメントコメント</td>
          </tr>
          <tr>
            <td>2015/01/17</td>
            <td>コメントコメント</td>
          </tr>
        </tbody>
      </table>

  </article>

  <section class="introduction">
    <div class="introduction__title">
      紹介
    </div>
    <div class="introduction__comment">
      <p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
    </div>
  </section>
</div>

