<header class="clearfix">
  <div class="header__logo">
    <img src="assets/ball.jpg">
  </div>
  <div class="header__title">
    Inpulse
  </div>
  <div class="header__list">
    <ul>
      <li><a href="#" class="square_btn">HOME</a></li>
      <li><a href="#" class="square_btn">NEWS</a></li>
      <li><a href="#" class="square_btn">GAME</a></li>
      <li><a href="#" class="square_btn">MEMBER</a></li>
    </ul>
  </div>
</header>

<section class="contents">
  <div class="contents__main"></div>
  <div class="contents__title">
    Inpulse
  </div>
  <div class="contents__subtitle">
    ~The Official Web Site~
  </div>
</section>

<article class="news">
  <div class="news__title">
    <h1>News</h1>
  </div>
    <table class="news__list">
      <tr>
        <th>日にち</th>
        <th>ニュース</th>
      </tr>
      <tr>
        <td>2015/02/23</td>
        <td>コメントコメントコメント</td>
      </tr>
      <tr>
        <td>2015/01/23</td>
        <td>コメントコメント</td>
      </tr>
      <tr>
        <td>2015/01/17</td>
        <td>コメント</td>
      </tr>
    </table>
</article>

  <section class="introduce">
  <div class="introduce__title">
    <h1>紹介</h1>
  </div>
  <div class="introduce__comment">
    <p>コメント</p>
  </div>
  </section>


