<section class="header">
  <div class="header__logo">
    <img src="assets/ball.jpg">
  </div>
  <div class="header__title">
    Inpulse
  </div>
  <div class="header__list">
    <ul>
      <li><a href="#" class="square_btn">Home</a></li>
      <li><a href="#" class="square_btn">News</a></li>
      <li><a href="#" class="square_btn">Game</a></li>
      <li><a href="#" class="square_btn">Member</a></li>
    </ul>
  </div>
</section>

<section class="contents">
  <div class="contents__image">
  </div>
  <div class="contents__title">
    Inpulse
  </div>
  <div class="contents__sentence">
    ~The Official Web Site~
  </div>

  <div class="contents-left">
    <p>News</p>
    <table class="contents__line">
      <tr class="contents__arrow">
        <th>日にち</th>
        <th>ニュース</th>
      </tr>
      <tr>
        <td>2015/02/23</td>
        <td>コメントコメントコメントコメント</td>
      </tr>
      <tr>
        <td>2015/01/23</td>
        <td>コメントコメントコメント</td>
      </tr>
      <tr>
        <td>2015/01/17</td>
        <td>コメントコメント</td>
      </tr>
    </table>
  </div>

  <div class="contents-right">
    <div class="box26">
    <span class="box-title">紹介</span>
    <p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
    </div>
  </div>
</section>

